@model List<OrderHeader>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Order List
            </h2>
        </div>
    </div>


    <table class="table table-bordered table-striped">
        <thead></thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Status</th>
            <th>Total</th>
            <th></th>
        </tr>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>@obj.Id</td>
                    <td>@obj.Name</td>
                    <td>@obj.PhoneNumber</td>
                    <td>@obj.ApplicationUser.Email</td>
                    <td>@obj.OrderStatus</td>
                    <td>@obj.OrderTotal</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Order" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
